*{
    margin: 0;
    padding: 0;
}
.containert{
    width: 90%;
    margin: 0 auto;
}
#navbar{
    background-color: #a000a0;
    height: 50px;
}
.logo{
    float: left;
    width: 20%;
}
.menu{
    float: right;
    width: 50%;
}
.logo h1{
    color: white;
    padding-top: 5px;
    font-style: italic;
}
.menu ul li{
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}
.menu select{
    background-color: #ac00ac;
    font-size: 15px;
    border: none;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
}
.btr{
    background-color: #ac00ac;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 15px;
}
.desk{
    text-align: center;
    color: #ac00ac;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
}
.marketing{
    text-align: center;
    font-size: 40px;
    padding-top: 15px;
}
.box{
    float: left;
    width: 33.3%;
}
.box img{
    width: 50%;
    padding-left: 100px;
}
#list{
    margin-top: 20px;
}
.box h3{
    text-align: center;
    padding: 10px 0;
}
.box p{
    text-align: center;
    padding: 10px 23px;
    line-height: 25px;
}
.clr{
    clear: both;
}
#footer{
margin-top: 30px;
background-color: #ac00ac;
height: 50px;
color: white;
}
#footer p{
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}
